<fieldset>
  <legend>Edit Cars</legend>

  <!-- MAKE -->
  <div class='form-group'>
      <label for='description'>Make</label><br>
      <input class='form-control' id='Make' type='text' name='Make' value='{{ car.Make }}' />
  </div>

  <!-- Model -->
  <div class='form-group'>
      <label for='description'>Model</label><br>
      <input class='form-control' id='Model' type='text' name='Model' value='{{ car.Model }}' />
  </div>

  <!-- DESCRIPTION -->
  <div class='form-group'>
      <label for='description'>Description</label><br>
      <input class='form-control' id='Description' type='text' name='Description' value='{{ car.Description }}' />
  </div>

  <!-- Color -->
  <div class='form-group'>
      <label for='description'>Color</label><br>
      <input class='form-control' id='Color' type='text' name='Color' value='{{ car.Color }}' />
  </div>

  <!-- Price -->
  <div class='form-group'>
      <label for='description'>Price</label><br>
      <input class='form-control' id='Price' type='text' name='Price' value='{{ car.Price }}' />
  </div>

  <!-- Image URL -->
  <div class='form-group'>
      <label for='description'>Image URL</label><br>
      <input class='form-control' id='Image' type='text' name='Image' value='{{ car.Image }}' />
  </div>

</fieldset>